## Opioid Crisis

In [1]:
import pandas as pd
import numpy as np

In [2]:
# File names
# opioids.csv
# overdoses.csv
# prescriber-info.csv

In [3]:
# Use to pratice SQL for now
import sqlite3

In [4]:
opioids = pd.read_csv('opioids.csv')
od = pd.read_csv('overdoses.csv')
preinfo = pd.read_csv('prescriber_info.csv')

In [5]:
opioids.head()

                        Drug Name                    Generic Name
0                         ABSTRAL                FENTANYL CITRATE
1           ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                           ACTIQ                FENTANYL CITRATE
3             ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4  ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN

In [6]:
od.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [7]:
preinfo()
#Looking into why it is not working

TypeError: 'DataFrame' object is not callable